* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    line-height: 1.4;
    font-family: sans-serif;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

main {
    padding: 0.7rem;
}

single-place {
    border-top: 1px solid #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

single-place img {
    width: 48%;
}

single-place div {
    display: flex;
    flex-direction: column;
    width: 48%;
}
